{% extends '../layout/layout-form.html' %}
{% block title %}
  Cadastro - Tech parking
{% endblock %}
{% load static %}
{% block content %}
  <section class="container-fluid vh-100">
    <div class="row">
      <div class="col-5 d-flex flex-column justify-content-center align-items-center vh-100" style="background-color: #072e33;">
        <div class="text">
          <h2 class="text-white fw-bold">Tech Parking</h2>
          <p class="text-white fw-ligth">Estacione com Inteligência, Conecte-se com Facilidade.</p>
        </div>
        <div class="">
          <img src="{% static 'img/car.png' %}" style="width: 100%;" alt="" />
        </div>

        <div>
          <p class="text-white fw-ligth">Já tem conta? Faça login para continuar.</p>
          <a href="{% url 'login' %}"><button type="submit" class="btn p-2 fw-bold" style="width: 100%; background-color: #fff;">Login</button></a>
        </div>
      </div>

      <div class="col-7 d-flex flex-column justify-content-center align-items-center vh-100">
        <h3 class="fw-bold" style="color: #072e33;">Bem vindo ao Tech Parking</h3>
        <h4 class="mb-2">Cadastre-se para continuar</h4>

        <form class="mt-4" method="post" action=" {% url 'cadastro' %}">
          {% csrf_token %}

          <div class="row">
            <div class="mb-3 col-6">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" name="first_name" required/>
            </div>
            <div class="mb-3 col-6">
              <label for="name" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" name="last_name" required/>
            </div>
          </div>
          

          
          
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" required/>
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="row">
            <div class="mb-1 col-6">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" name="password" required />
            </div>

            <div class="mb-1 col-6">
              <label for="confirm_password" class="form-label">Confirmar Senha</label>
              <input type="password" class="form-control" name="confirm_password" required/>
            </div>
          </div>
          <div id="emailHelp" class="form-text mt-0">A senha precisa ter no mínimo 8 caracters</div>
          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <div class="bg-button mt-4">
            <button type="submit" class="btn fw-bold p-2" style="width: 100%;">Cadastrar</button>
          </div>
          
        </form>
      </div>
    </div>
  </section>
{% endblock %}
