{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{% static 'img/icon.png' %}" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %}
        Tech Parking
      {% endblock %}
    </title>
  </head>

  <body style="background-color: #072e33;">
    <header class="header-menu">
      <nav class="navbar bg-white">
        <div class="container">
          <a class="navbar-brand d-inline-block align-text-top text-black"><img src="{% static 'img/icon.png' %}" style="max-width: 40px;" alt="logo" />Tech Parking</a>
          <a href="{% url 'login' %}"><button class="btn text-white" style="background-color: #072e33;">Login</button></a>
        </div>
      </nav>

      <section class="container-fluid d-flex justify-content-center align-items-center bg-section" id="home">
        <div class="conatiner m-5 p-5">
          <div class="row">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center flex-column">
              <h1 class="text-white">Seu carro seguro, sua tranquilidade garantida!</h1>
              <p class="text-white fw-light">Mais que um estacionamento, uma experiência!</p>
              <a href="{% url 'cadastro' %}" class="rounded" ><button class="btn " style="color: #072e33; background-color: white;">Cadastrar</button></a>
            </div>

            <div class="col-md-6 col-sm-12 mt-4">
              <img src="{% static 'img/car.png' %}" alt="Imagem do tempo" style="width: 100%;" />
            </div>
          </div>
        </div>
      </section>
    </header>
  </body>
</html>
