{% extends '../layout/layout.html' %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  {% load static %}
  <div class="card p-2" style="width: 18rem;">
    <img src="{% static 'img/user.jpg' %}" class="card-img-top rounded-circle border" alt="..." style="width: 150px; height: 150px; object-fit: cover; margin: auto; display: block;">
    <div class="card-body text-center">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">{{ user.email }}</p>
      <a href="{% url 'veiculos' %}" class="btn" style="background-color: #CB3F48; border-color: #CB3F48; color: white;">Veículos</a>
<a href="{% url 'vagas' %}" class="btn" style="background-color: #CB3F48; border-color: #CB3F48; color: white;">Vagas</a>

    </div>
  </div>
  
{% endblock %}
