{% extends '../layout/layout.html' %}
{% block title %}
  Veiculos
{% endblock %}
{% block content %}
  <section class="container-fluid d-flex gap-2 auto p-3">
    <div class="formulario col-8 p-3 me-3 border-radius" style="background-color: whitesmoke;">
      <h3 class="">Cadastrar novo veículo</h3>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="inputplaca" class="form-label">Placa</label>
          <input type="text" class="form-control" id="inputplaca" name="placa"  placeholder="Ex: ABC-1234" required>
        </div>
        <div class="mb-3">
          <label for="inputmodelo" class="form-label">Modelo</label>
          <input type="text" class="form-control" id="inputmodelo" name="modelo" placeholder="Ex: Honda Civic" required>
        </div>
        <div class="mb-3">
          <label for="inputcor" class="form-label">Cor</label>
          <input type="text" class="form-control" id="inputcor" name="cor" placeholder="Ex: Preto" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>

    <div class="lista-veiculos col-4 p-3 border-radius" style="background-color: whitesmoke;">
      <h3 class="">Meus veículos</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Cor</th>
          </tr>
        </thead>
        <tbody>
          {% for veiculo in veiculos %}
          <tr>
            <td>{{ veiculo.placa }}</td>
            <td>{{ veiculo.modelo }}</td>
            <td>{{ veiculo.cor }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
